<h1>Your Cart <i class="fa fa-cart-plus" aria-hidden="true"></i></h1>

<% if @order_items.any? %>
  <% @order_items.sort.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %>| Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>


      <%= form_for (item) do |f| %>
        <% button_tag type:"submit", :value => item.quantity.to_i + 1, class: "cart_quantity_button" do %>
          <p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
        <% end %>
      <% end %>

      <%= form_for (item) do |f| %>
        <% button_tag type:"submit", :value => item.quantity.to_i - 1, class: "cart_quantity_button" do %>
          <p><i class="fa fa-minus-circle" aria-hidden="true"></i></p>
        <% end %>
      <% end %>


  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
<p><%= link_to "Check out ", new_charge_path %><i class="fa fa-credit-card" aria-hidden="true"></i></p>
<%= link_to root_path do %>
  <i class="fa fa-undo" aria-hidden="true"></i>
<% end %>
