<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-primary">
      <% if current_user %>
        <a class="navbar-brand"><%= link_to 'Admin', rails_admin_path %></a>

        <a class="navbar-brand  ml-auto"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
      <% else %>
        <a class="navbar-brand ml-auto"><%= link_to 'Login', new_user_session_path %></a>
        <li><%= current_order.order_items.collect { |item| item.quantity }.sum %></li>
      <% end %>
    </nav>
    <div id="flash">
      <%= flash[:notice] %>
    </div>
    <div>
      <%= flash[:alert] %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
